<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlCustomModalTransitionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07DB9DF61E10AA7700425B99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DB9E0F1E10AA7700425B99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DB9E1A1E10AA7700425B99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
